.header {
	grid-column: full-start / col-end 6;

	display: grid;
	grid-template-rows: 1fr min-content 6rem 1fr;
	grid-template-columns: max-content;
	grid-row-gap: 1.5rem;
	justify-content: center;

	padding: 8rem;
	padding-top: 4rem;
	background-color: $color-grey-dark-1;
	background-image: linear-gradient(rgba($color-secondary, 0.93), rgba($color-secondary, 0.93)), url('../img/hero.jpeg');
	background-size: cover;
	background-position: center;

	&__logo {
		justify-self: center;
		height: 3rem;
	}

	&__btn {
		justify-self: start;
		align-self: start;
	}

	&__seenon-text {
		display: grid;
		grid-template-columns: 1fr max-content 1fr;
		align-items: center;
		column-gap: 1.5rem;

		color: $color-grey-light-2;
		font-size: 1.6rem;

		&::before,
		&::after {
			content: '';
			display: block;
			height: 1px;
			background-color: currentColor;
		}
	}

	&__seenon-logos {
		display: flex;
		justify-content: space-evenly;
		align-items: center;

		img {
			height: 2.5rem;
			filter: brightness(70%);
		}
	}
}
